{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'Style/style.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   
</head>

<body style="background-image: url('{% static './Images/Background1.jpg' %}');  background-repeat:no-repeat;background-size:cover;">
    <div class="container" style="margin-top: 50px;">
        <form action="" style="max-width:500px;margin:auto" method="POST"> 
            {% csrf_token %}
            <div class="card" style="background-color:rgba(238, 217, 217, 0.6); height: 500px;padding-top: 200px; border:20px solid dodgerblue;">
                
                <h3 class="text-center">Your Account is Pending for Verification or Temporarily Blocked</h3>
                    
                </div>
        </form>
    </div>
</body>

</html>